<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Middleman" %></title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
    <%= yield %>

    <% sitemap.resources.each do |page| %>
      <% if page.url =~ /^(\/items\/)/ %>
        <% link_to page.url do %>
          <%= image_tag page.metadata[:locals]["image"], alt: page.metadata[:locals]["name"] %>
          <h2><%= page.metadata[:locals]["name"] %> - $<%= page.metadata[:locals]["price"] %></h2>
        <% end %>
      <% end %>
    <% end %>

    <div class="edit-page">
      <%= link_to('Edit this page', edit_page_url(data.config.repository, current_page.file_descriptor.relative_path), id: 'edit-page-link') %>
    </div>
  </body>
</html>
