<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || current_page.metadata[:locals]["name"] %></title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
    <%= yield %>

    <div class="edit-page">
      <% if current_page.url =~ /^(\/items\/)/ %>
        <%= link_to('Edit this page', "https://gitlab.com/-/ide/project/alexives/graylyn-art/tree/master/-/data/items.yml", id: 'edit-page-link') %>
      <% else %>
        <%= link_to('Edit this page', edit_page_url(data.config.repository, current_page.file_descriptor.relative_path), id: 'edit-page-link') %>
      <% end %>
    </div>
  </body>
</html>
