<%= image_tag image, alt: name %>
<h1><%= name %></h1>
<p>
<%= description %>
</p>
<p>
<a href="https://www.paypal.com/cgi-bin/webscr?&amp;cmd=_xclick&amp;business=<%= data.config.paypal %>&amp;currency_code=USD&amp;amount=<%= price %>&amp;item_name=<%= name %>" target="_blank">Pay $<%= price %> with Paypal</a>
</p>
